consumes:
- application/json
info:
  description: HTTP server in Go with Swagger endpoints definition
  title: kutego-api
  version: 0.1.0
produces:
- application/json
# schemes:
# - http

swagger: "2.0"

paths:
  /healthz:
    get:
      operationId: checkHealth
      produces:
      - text/plain
      responses:
        '200':
          description: OK message
          schema:
            type: string
            enum:
            - OK

  /gopher/{name}:
    get:
      description: Return the Gopher Image
      produces:
      - image/png
      parameters:
        - name: name
          in: path
          type: string
          required: true
          description: The name of the Gopher to display.
        - name: size
          in: query
          type: string
          required: false
          description: Size for your Gopher
      responses:
        200:
          description: Returns the gopher.
          schema:
            type: file
        400:
          description: Invalid characters in "name" were provided.
  /gophers:
    get:
      description: List all the gopher
      produces:
       - application/json
      responses:
        200:
          description: Return the Gophers list.
          schema:
            type: array
            items:
              $ref: '#/definitions/Gopher'
  /gopher/random:
    get:
      description: Return a random Gopher Image
      produces:
      - image/png
      parameters:
        - name: size
          in: query
          type: string
          required: false
          description: Size for your Gopher
      responses:
        200:
          description: Returns a random gopher.
          schema:
            type: file
        400:
          description: there is something wrong in the path.
definitions:
  Gopher:
    type: object
    properties:
      name:
        type: string
        example: my-gopher
      path:
        type: string
        example: my-gopher.png
      url:
        type: string
        example: https://raw.githubusercontent.com/scraly/gophers/main/arrow-gopher.png
